

@model InventoryListViewModel


<div class="container">
    
            @foreach (var inventory in @Model.Inventories)
            {
                
                      @Html.Partial("InventorySummary", inventory)
                
            }
     
</div>

@*@foreach (var p in Model.Inventories)
{
    @Html.Partial("InventorySummary", p)
}*@