@model AccountantSystemv5.Models.Sale

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Sale</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="InvoiceID" />
        <div class="form-group">
            <label asp-for="ShippingDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShippingDate" class="form-control" />
                <span asp-validation-for="ShippingDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomerID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomerID" class="form-control" asp-items="@ViewBag.ItemsCustomer"></select>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SaleOrderID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SaleOrderID" class="form-control" asp-items="ViewBag.SaleOrderID"></select>
                <span asp-validation-for="SaleOrderID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EmployeeID" class="form-control" asp-items="@ViewBag.ItemsEmployee"></select>
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SaleAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SaleAmount" class="form-control" />
                <span asp-validation-for="SaleAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
