@model AccountantSystemv5.Models.Vendor

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Vendor</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="VendorID" />
        <div class="form-group">
            <label asp-for="VendorName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VendorAddress1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VendorAddress1" class="form-control" />
                <span asp-validation-for="VendorAddress1" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VendorAddress2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VendorAddress2" class="form-control" />
                <span asp-validation-for="VendorAddress2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VendorCity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VendorCity" class="form-control" />
                <span asp-validation-for="VendorCity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VendorState" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VendorState" class="form-control" />
                <span asp-validation-for="VendorState" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VendorZipCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VendorZipCode" class="form-control" />
                <span asp-validation-for="VendorZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VendorTelephone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VendorTelephone" class="form-control" />
                <span asp-validation-for="VendorTelephone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VendorPrimaryContact" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VendorPrimaryContact" class="form-control" />
                <span asp-validation-for="VendorPrimaryContact" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
