@model AccountantSystemv5.Models.FulfillmentLACD

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>FulfillmentLACD</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="LoanID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LoanID" class ="form-control" asp-items="ViewBag.LoanID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaymentDueDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PaymentDueDate" class="form-control" />
                <span asp-validation-for="PaymentDueDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaymentNum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PaymentNum" class="form-control" />
                <span asp-validation-for="PaymentNum" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrincipalAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrincipalAmount" class="form-control" />
                <span asp-validation-for="PrincipalAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InterestAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InterestAmount" class="form-control" />
                <span asp-validation-for="InterestAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
