@model IEnumerable<AccountantSystemv5.Models.InventoryList>

<div class="container">
    <h2>Your Order</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
       
    </table>
   
</div>